body {
    font-family: 'Nunito', sans-serif;
}
a {
    font-decoration: underline;
    color: #35a559;
}
#map {
    width: 100%;
    height: 400px;
    border: #35a559 solid 1px;
}
#results-table {
    margin:auto;
    font-size: small;
}
td {
    border-top : #35a559 1px solid;
    text-align: center;
}
th {
    padding: 0 7px;
}
tbody>tr {
    cursor: pointer;
}
tbody>tr:hover{
    background-color: #dbffdd !important;
}
tfoot {
    font-weight: bold;
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: larger ;
    font-weight: bolder;
}
.waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-5px)
    }
}
